# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build outputs
dist/
build/

# Dependency directories
client/node_modules/
order-service/node_modules/
notification-service/node_modules/
payment-service/node_modules/
api-gateway-service/node_modules/
# Optional npm cache directory
.npm

# IDE and editor specific files
.vscode/
.idea/
